.MonacoErrorDecorator {
  background-color: #ff5260;
  width: 5px !important;
  left: 0 !important;
}

.MonacoWarnDecorator {
  background-color: #ffb02e;
  width: 5px !important;
  left: 0 !important;
}

.MonacoInfoDecorator {
  background-color: #4fc0f8;
  width: 5px !important;
  left: 0 !important;
}

.MonacoSelectedDecorator {
  background-color: #058eff;
  width: 5px !important;
  left: 75px !important;
}
